<div class="row">
  <div class="col-sm-4 p-2" *ngFor="let place of Places">
    <div class="card">
      <div class="card-header" [style.color]="yellow">
      <span *ngFor="let i of [1,2,3,4,5]">
        <div *ngIf="i <= place.rating; then starBlock else noStarBlock"></div>
        <ng-template #starBlock>
          <i class="fa fa-star yellow-text"></i>
        </ng-template>
        <ng-template #noStarBlock>
          <i class="fa fa-star-o yellow-darken-1-text"></i>
        </ng-template>
      </span>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ place.name }}</h5>
        <p class="card-text">{{ place.address }}</p>
      </div>
    </div>
  </div>
</div>
